<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% include "include_css.html" %}
    {% block special_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title">{% include "include_svg.html" %}<span>{{ title }}</span></h1>
            {% include "include_menu.html" %}
        </header>
        <main>
            {% block maincontent %}{% endblock %}
		</main>
    </div>
    <footer>
        {% include "include_footer.html" %}
    </footer>
</body>
</html>