<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Contact Us</h1>
    <p>This is an example of how a contact form might look:</p>
    <form action="#" method="post">
        <div class="form_settings">
            <p><span>Name</span><input class="contact" type="text" name="your_name" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="your_email" value="" /></p>
            <p><span>Message</span><textarea class="contact textarea" rows="8" cols="50" name="your_enquiry"></textarea></p>
            <p><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
        </div>
    </form>

    <a href="http://127.0.0.1:8000/">Index</a>
    <a href="http://127.0.0.1:8000/home/">Home</a>
    <a href="http://127.0.0.1:8000/other/">Other</a>
    <a href="http://127.0.0.1:8000/contact/">Contacts</a>
</body>
</html>