<style>
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        background-color: beige;
        width: 100vw;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
    }
    header, footer {
        display: flex;
        width: calc(100vw - 100px);
        height: 100px;
        align-items: center;
        justify-content: space-evenly;
        background-color: darkolivegreen;
        padding: 5px 50px;
    }
    .title {
        display: flex;
        align-items: center;
    }
    h1 span {
        margin-left: 20px;
    }
    ul {
        list-style-type: decimal;
        font-size: 1.3em;
    }
    li p {
        font-weight: 600;
        display: inline;
    }
    .tips a {
        text-decoration: none;
        border-bottom: 1px dashed;
        color: darkolivegreen;
    }
    .greenColor {
        color: darkolivegreen;
    }
    h1 {
        font-family: Arial Rounded MT Bold;
        font-size: 3em;
    }
    menu {
        display: flex;
    }
    menu a {
        display: flex;
        padding: 7px 14px;
        cursor: pointer;
        text-decoration: none;
        width: 80px;
        height: fit-content;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        border-radius: 5px;
        color: thistle;
    }
    menu a:hover {
        background-color: bisque;
        color: darkolivegreen;
    }
    main {
        padding: 20px 50px;
        word-break: break-all;
        overflow-y: scroll;
    }
    footer {
        color: thistle;
        flex-direction: column;
    }
    footer h3 {
        margin: 0 auto;
    }
    footer a {
        color: thistle;
    }
    .double_col {
        display: flex;
        justify-content: space-around;
    }
    .single_col {

    }
    .centerMe {
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }
    .SVGContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .like_a_button {
        font-family: -webkit-small-control;
        margin: 30px auto;
        display: flex;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        cursor: pointer;
        background: lightgray;
        border-radius: 5px;
        width: fit-content;
    }
</style>