.venv
/lesson_1/Урок 1. Пример практического задания/
/lesson_1/Презентация. Паттерны веб-представления.pdf
/lesson_1/Урок 1. Паттерны веб-представления.pdf
/lesson_1/Материалы преподавателя/
/lesson_1/Урок 1. Коды к уроку/

/lesson_2/Урок 2. Коды к уроку/
/lesson_2/Архитектура python-приложений .mp4
/lesson_2/Урок 2. Архитектура Python-приложений.pdf
/lesson_2/Материалы преподавателя/
/lesson_2/Урок 2. Пример практического задания/

/lesson_3/Урок 3. Коды к уроку/
/lesson_3/Урок 3. Пример практического задания/
/lesson_3/Материалы преподавателя/
/lesson_3/Принципы проектирования .mp4
/lesson_3/Урок 3. Принципы проектирования.pdf

/lesson_4/Урок 4. Коды примеров/
/lesson_4/Урок 4. Пример практического задания/
/lesson_4/Материалы преподавателя/
/lesson_4/Урок 4. Порождающие паттерны.pdf
