.venv
/lesson_1/Урок 1. Пример практического задания/
/lesson_1/Презентация. Паттерны веб-представления.pdf
/lesson_1/Урок 1. Паттерны веб-представления.pdf
/lesson_1/Материалы преподавателя/
/lesson_1/Урок 1. Коды к уроку/

